### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Filter individual playeres using the "SN" column (user names?)
usernames = purchase_data["SN"].value_counts()
# Count number of individual players
player_count = usernames.count()

# Create a database to display results
player_count_df = pd.DataFrame ({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculate number of unique items
items = purchase_data["Item Name"].value_counts().count()
# Calculate average price
average_price = round(purchase_data["Price"].mean(), 2)
# Calculate number of purchases
purchase_number = purchase_data["Purchase ID"].count()
# Calculate total revenue
total_revenue = purchase_data["Price"].sum()

# Create data frame and .map function to display currency
purchase_analysis = pd.DataFrame({"Number of Unique Items": [items], "Average Price": [average_price], 
                                  "Number of Purchases": [purchase_number], "Total Revenue": [total_revenue]})
purchase_analysis["Average Price"] = purchase_analysis["Average Price"].map("${:.2f}".format)
purchase_analysis["Total Revenue"] = purchase_analysis["Total Revenue"].map("${:.2f}".format)
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Create a group that filters by gender
gender = purchase_data.groupby("Gender")
# Filter gender group based on individual user names
gender_count = gender.nunique()["SN"]
# Calculate percentages for each group
percentage_player = gender_count / player_count * 100

# Create a database and add .map features to display percentages
gender_demographics = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percentage_player})
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}%".format)
gender_demographics

# Observable Trends: Male purchasers make up a significant percentage of total players

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Calculate purchase count for each gender
gender_purchase_count = gender["Purchase ID"].count()
# Calculate average purchase price for each gender
gender_avg = gender["Price"].mean() 
# Calculate purchase total for each gender
gender_total = gender["Price"].sum()
# Calculate average total per person for each gender
gender_per_person = gender_total / gender_count

gender_analysis = pd.DataFrame({"Purchase Count": gender_purchase_count, "Avg. Purchase Price": gender_avg, 
                               "Total Purchase Value": gender_total, "Avg. Total Per Person": gender_per_person})
gender_analysis["Avg. Purchase Price"] = gender_analysis["Avg. Purchase Price"].map("${:.2f}".format)
gender_analysis["Total Purchase Value"] = gender_analysis["Total Purchase Value"].map("${:.2f}".format)
gender_analysis["Avg. Total Per Person"] = gender_analysis["Avg. Total Per Person"].map("${:.2f}".format)
gender_analysis

# Observable Trends: Males make up a significant percentage of total purchasers

,Purchase Count,Avg. Purchase Price,Total Purchase Value,Avg. Total Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Create bins for data to be held
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 89.9]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
# Create a new column in purchase_data to hold the binned values
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
# Drop duplicate individual users, to get correct numbers
# age_group = purchase_data["Age Group"]
age_dem = purchase_data.drop_duplicates("SN")
age_dem_count = age_dem["Age Group"].value_counts()
age_dem_percent = age_dem_count / player_count * 100

# Create a dataframe to display data
age_demographics = pd.DataFrame({"Total Count": age_dem_count, "Percentage of Players": age_dem_percent})
age_demographics = age_demographics.sort_index()
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Create a group to calculate new set of information using purchase data
age_group = purchase_data.groupby("Age Group")
purchase_group_count = age_group["Purchase ID"].count()
# Calculate Average purchase price for each age group
avg_price_group = age_group["Price"].mean()
# Calculate Total purchase amount for each age group
total_purchase_group = age_group["Price"].sum()
# Calculate average price per person in the age group
avg_price_person = total_purchase_group / age_dem_count

# Create a dataframe to display data
purchase_analysis = pd.DataFrame({"Purchase Count": purchase_group_count,
                                 "Average Purchase Price": avg_price_group,
                                 "Total Purchase Value":total_purchase_group,
                                 "Average Purchase Total per Person": avg_price_person})
purchase_analysis
# Format data to show currency
purchase_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

# Observable Trends: The age range of 15-24 makes up the majority of players for this game. A strategy, based on the data,
# might be to market this game to males in the age range of 15-24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Create a group for individual users
top_spenders = purchase_data.groupby("SN")
# Calculate how many individudal purchases each user made
total_count = top_spenders["Purchase ID"].count()
# Calculate the total amount each user spent on purchases
total_value = top_spenders["Price"].sum()
# Calculate average purchase price for each user
average_value = total_value / total_count

# Create a dataframe to display data
top_spender_analysis = pd.DataFrame({"Purchase Count": total_count, "Average Purchase Price": average_value,
                                    "Total Purchase Value": total_value})
# Sort in descending order based on total purchase value
sorted_analysis = top_spender_analysis.sort_values("Total Purchase Value", ascending=False).head()
# Add styling elements, to display currency
sorted_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Retrieve the Item ID, Item Name, and Item Price columns
popular = purchase_data[["Item ID", "Item Name", "Price"]]
popular_items = popular.groupby(["Item ID", "Item Name"])
# Calculate the purchase count
popular_count = popular_items["Price"].count()
# Calculate the Total Purchase Value
popular_total = popular_items["Price"].sum()
# Calculate the Purchase Price (I feel like there's an easier way to do this...)
popular_price = popular_total/popular_count

# Create a dataframe to display data
popular_items_analysis = pd.DataFrame({"Purchase Count": popular_count, "Item Price": popular_price, 
                                       "Total Purchase Value": popular_total})
# Sort information by how many items each user purchased
sorted_popular = popular_items_analysis.sort_values("Purchase Count", ascending=False).head()
# Style for currency
sorted_popular.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Sort by "Total Purchase Value" instead of "Purchase Count"
sorted_profitable = popular_items_analysis.sort_values("Total Purchase Value", ascending=False).head()

sorted_profitable.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})